.row{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
    cursor: pointer;
}
.viewRow{
    width: 50px;
    cursor: pointer;
}
