.row{
    display: inline-block;
    width: 100px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: pointer;
}

.viewRow{
    width: 50px;

    cursor: pointer;
}
